body{
    background-image: url("../Img/forest.png");
}

div .logo{
    width: 40rem;
    margin: 1rem;
}

h2{
    font-size: 25px;
    margin-bottom: 3rem;
    margin-top: 1rem;
    border-radius: 15px;
}

h3{
    font-size: 40px;
}

div{
    text-align: center;
}

.imgPokemon{
    background-color: darkgoldenrod;
    width: 350px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1.5rem;
    opacity: 100%;
}

.busqueda{
    width: 100%;
}

.busqueda input, button{
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: .7rem;
    text-align: center;
    opacity: 50%;
}

.pokedex{
    display: inline-flex;
    width: 100%;
}

.lateral, .principal{
    background-color: rgba(255, 228, 196, .4);
    border-radius: 1.5rem;
    margin: 1rem;
}

.lateral{
    width: 30%;
}

.principal{
    width: 60%;
}

.datosPokemon{
    background-color: rgba(128, 128, 128, .5);
    border-radius: 10px;
    padding: 1rem;
}

.tablaDatos{
    background-color: cadetblue;
    width: 100%;
}

table, tr, th, td{
    border-radius: 10px;
}